<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.damoim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="청년 다모임"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".policyViewActivity"></activity>
        <activity android:name=".login.KakaoLoginActivity" />
        <activity android:name=".login.FacebookLoginActivity" />
        <activity android:name=".login.NaverLoginActivity" />
        <activity android:name=".login.FindActivity" />
        <activity android:name=".login.RegisterActivity_main" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoadingActivity" />
        <activity android:name=".main.MainActivity"></activity>
    </application>

</manifest>